h3 {
  color: white;
}

.settings {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-input {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.form-input p {
  text-align: center;
}
