<div class="settings">
  <h3>Timer Settings</h3>
  <div class="row">
    <div class="col-md-auto col-sm-12 form-input">
      <input
        type="text"
        class="form-control col-md-auto col-sm-6 col-6"
        placeholder="Hours"
        #hourField
      />
    </div>
    <div class="col-md-auto col-sm-12 form-input">
      <input
        type="text"
        class="form-control col-md-auto col-sm-6 col-6"
        placeholder="Minutes"
        #minuteField
      />
    </div>
    <div class="col-md-auto col-sm-12 form-input ">
      <input
        type="text"
        class="form-control col-md-auto col-sm-6 col-6"
        placeholder="Seconds"
        #secondFiled
      />
    </div>
  </div>

  <button
    (click)="setValues(hourField.value, minuteField.value, secondFiled.value)"
    class="btn btn-primary btn-lg"
  >
    Set Timer
  </button>
</div>
