.display {
  background-color: black;
  color: red;
  font-size: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seven-segment {
  font-family: 'Segment7Standard';
  font-weight: normal;
  font-style: italic;
}

.display-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#reset {
  align-self: flex-end;
}
